* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3FAFF;
}

*:focus {
    outline: none;
}

.wrapper{
    padding-right: 16px;
    padding-left: 16px;
}

/** Header**/
.cdreview {
    background-color: rgb(45,57,69);
    text-align: center;
    padding: 15px 0;
}
.cdreview h1 {
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 2px;
    color: white;
}

/**Intro signup**/
.int_signup {
    text-align: center;
    padding-bottom: 3em;
    border-bottom: 4px solid black;
}
.int_signup h3 {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}
.int_signup p  {
    margin: 0;
    font-size: 13px;
    color: grey;
    line-height: 18px;
    letter-spacing: .6px;
}
/** Form **/
.space_border {
    padding: 2px;
}
.form_contact{
    padding-top: 1.8em;
    padding-bottom: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.form_contact h1 {
    font-size: 20px;
    padding-bottom: .8em;
}
.form_contact input:placeholder-shown {
    text-align: right; 
}
.form_contact input::placeholder {
  color: grey;
}

.form_contact select::placeholder {
    color: grey;
}
.label_form, .label_form_zip {
    color: grey;
}
.npt_class {
    width: 100%;
    height: 3em;
    margin-top: 10px;
    display: block;
    background-color: lightgray;
    border-radius: 4px;
    border: none;
    padding-right: 30px;
}
.npt_class_zip {
    max-width: 50%;
    height: 3em;
    margin-top: 10px;
    display: block;
    background-color: lightgray;
    border-radius: 4px;
    border: none;
}
.npt_class:focus, .npt_class_zip:focus, .txt_area:focus {
    border: 2px solid black;
    outline: none;
    background-color: #91B4E4;
    -webkit-transition: all 1.2s ease-in;
}
select {
    color: grey;
}
/**Newsletter section**/

.nws_lttr {
  padding-bottom: 30px;
}
.nws_lttr h1 {
    margin: 0;
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: .6em;
}
.nws_lttr p {
    margin: 0;
    font-size: 13px;
    color: grey;
    line-height: 18px;
    letter-spacing: .6px;
    padding-top: .8em;
    padding-bottom: 1em;
}
.nws_lttr label {
    margin-bottom: 1.6em;
    display: inline-block;
}
.txt_area {
    width: 100%;
    height: 80px;
    background-color: lightgray;
    border-radius: 4px;
    border: none;
}
.label_text_area {
    margin: 0;
    font-size: 13px;
    color: grey;
    line-height: 18px;
    letter-spacing: .6px;
    padding-top: .8em;
    padding-bottom: 1em;
}
.txt_area:focus
footer {
    text-align: center;
}
.btn {
    width: 100%;
    height: 60px;
    background-color: rgb(78,187,181);
    border-radius: 5px;
    color: white;
}
footer p {
    padding-top: 1em;
    font-size: 13px;
    color: grey;
    font-style: italic;
    text-align: center;
}

@media (min-width: 768px) {
    main {
        width: 70%;
        margin: 0 auto;
    }
    .flex_npt {
        display: flex;
        flex-wrap: nowrap;
        
    }
    .flex_npt > .label_form {
        display: inline-block;
        flex: 1;
        padding: 25px 25px 0 0;
        
    }
    .flex_npt > input, select {
        flex: 3;
    }
    .nws_lttr {
        padding-bottom: 1.8em;
        padding-top: 1.2em;
    }
            
    .btn {        
        font-size: 1.2em;
    }
    .flex_npt_zip {
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        width: 37%;
        
    }
    .npt_class_zip {
        max-width: 30%;
        flex: 3;
        display: block;
    }
    .label_form_zip {
        display: inline-block;
        flex: 1;
        padding: 25px 25px 0 0;
           
    }
}
