* {
    box-sizing: border-box;
}
body {
    background: ;
    font-family: 'Poppins', sans-serif;
    
}

*:focus {
    outline: none;
}

.wrapper{
    padding-right: 16px;
    padding-left: 16px;
}

/** Header**/
.cdreview {
    background-color: steelblue;
    text-align: center;
}
.cdreview h1 {
    margin: 0 auto;
    padding: 20px;
}

/**Intro signup**/
.int_signup {
    text-align: center;
    padding-bottom: 3em;
    border-bottom: 4px solid black;
}
.int_signup h3 {
    font-size: 20px;
    margin: 0 auto;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}
.int_signup p  {
    margin: 0;
    font-size: 13px;
    color: grey;
    line-height: 18px;
    letter-spacing: .6px;
}
/** Form **/
.space_border {
    padding: 2px;
}
.form_contact{
    padding-top: 1.8em;
    padding-bottom: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.form_contact h1 {
    font-size: 20px;
    padding-bottom: .8em;
}
.form_contact input:placeholder-shown {
    text-align: right; 
}
.form_contact input::placeholder {
  color: grey;
}

.form_contact select::placeholder {
    color: grey;
}
.label_form {
    color: grey;
}
.npt_class {
    width: 100%;
    height: 3em;
    margin-top: 10px;
    display: block;
    background-color: lightgray;
    border-radius: 4px;
    border: none;
    padding-right: 30px;
}
.npt_class_zip {
    max-width: 50%;
    height: 3em;
    margin-top: 10px;
    display: block;
    background-color: lightgray;
    border-radius: 4px;
    border: none;
}
.npt_class:focus, .npt_class_zip:focus {
    border: 2px solid black;
    outline: none;
}
select {
    color: grey;
}
/**Newsletter section**/

.nws_lttr {
  padding-bottom: 30px;
}
.nws_lttr h1 {
    margin: 0;
    font-size: 20px;
    padding-top: 1em;
    padding-bottom: .6em;
}
.nws_lttr p {
    margin: 0;
    font-size: 13px;
    color: grey;
    line-height: 18px;
    letter-spacing: .6px;
    padding-top: .8em;
    padding-bottom: 1em;
}
.nws_lttr label {
    padding-left: 14px;
    margin-bottom: 8px;
}
.txt_area {
    width: 100%;
    height: 80px;
    background-color: lightgray;
    border-radius: 4px;
    border: none;
}
footer {
    text-align: center;
}
.btn {
    width: 100%;
    height: 60px;
    background-color: seagreen;
    border-radius: 5px;
}
